<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - E_Smart</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/E_Smart.styles.css" asp-append-version="true" />

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<script>
		$(document).ready(function () {
			// AJAX request on page load to get initial cart count
			updateCartBadge();
		});
	</script>
</head>
<body class="d-flex flex-column min-vh-100">
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">E_Smart</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link " asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " asp-area="Admin" asp-controller="Product" asp-action="Index">Product</a>
						</li>
						<li class="nav-item">
							<a class="nav-link " asp-area="Admin" asp-controller="Customer" asp-action="Index">Customer</a>
						</li>
					</ul>

					@*Cart Item*@
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" asp-area="Client" asp-controller="Cart" asp-action="Index">
								<i class="bi bi-cart-plus position-relative d-flex align-items-center" style="font-size: 30px;">
									<span id="cartBadge" class="badge bg-secondary position-absolute bottom-50 start-50 translate-50-50 d-flex align-items-center justify-content-center" style="font-size: 12px;">0</span>
									@* @Html.Partial("BagCart", "Cart"); *@
								</i>
							</a>
						</li>
					</ul>

					<ul class="navbar-nav">
						@* Kiểm tra xem người dùng đã đăng nhập chưa *@
						@if (User.Identity.IsAuthenticated)
						{
							@* Hiển thị nút Logout nếu đã đăng nhập *@
							<li class="nav-item">
								<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="nav-link">
									<button type="submit" class="btn btn-link text-white" style="text-decoration: none;">Logout</button>
								</form>
							</li>
						}
						else
						{
							@* Hiển thị nút Login nếu chưa đăng nhập *@
							<li class="nav-item">
								<a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">
									<i class="bi bi-box-arrow-in-right"></i>
									Login
								</a>
							</li>
						}
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="" asp-action="">
								<i class="bi bi-person-fill"></i>
								Sign Up
							</a>
						</li>
					</ul>

				</div>
			</div>
		</nav>


	</header>
	<div class="container flex-grow-1">
		<main role="main" class="pb-3">
			@*Hiển thị Partial Notification*@
			@Html.Partial("_NotificationPartial")

			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer bg-dark text-white mt-auto py-3 fixed-bottom">
		<div class="text-center">
			&copy; 2024 - E_Smart - with all <i class="bi bi-house-heart"></i> to you.
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
